* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: 'Horizon';
    src: url('/assets/fonts/horizon.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

::selection{
    background: rgba(193, 163, 98, 0.56);
}

body {
    background: #111;
    color: #999;
    font-family: "Mona sans", sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}html {
    scroll-behavior: smooth;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #25252592;
    backdrop-filter: blur(30px);
    transition: background 0.3s ease-in-out;
    z-index: 1000000;box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 350px, rgba(0, 0, 0, 0.516) 0px 15px 20px;
}

.navcontent {
    width: 100%;
    max-width: 375px;
    height: 100%;
    padding: 15px;
    color: rgb(224, 219, 194);
    display: flex;
    justify-content: space-between;
    font-family: "Mona Sans", sans-serif;
    font-style: italic;
    align-items: center;
    font-weight: 900;
    text-transform: uppercase;
    border-left: 2px dashed #0c3623b7;
    border-right: 2px dashed #0c3623b7;
}

section {
    width: 100%;
    height: auto;
}

.slider {
    position: relative;
    margin-top: 70px;
    height: 40vh;
    width: 100%;
    background: #383838;
}

.slider img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main-title {
    z-index: 100;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    font-family: "Horizon", sans-serif;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: auto;
    max-width: 300px;
}.yy{
    color: #b49300;
}
.gg{
    font-size: 20px;
    font-style: italic;
}
.main{
    flex-grow: 1;
}
.area1 {
    height: AUTO;
    width: 100%;
    position: relative;
    margin-bottom: 20vh;
    top: 0;
    left: 0;
    background: #111;
    --gap: 5em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.2);

    background-image: linear-gradient(-90deg,
            transparent calc(var(--gap) - var(--line)),
            var(--color) calc(var(--gap) - var(--line) + 1px),
            var(--color) var(--gap)),
        linear-gradient(0deg,
            transparent calc(var(--gap) - var(--line)),
            var(--color) calc(var(--gap) - var(--line) + 1px),
            var(--color) var(--gap));
    background-size: var(--gap) var(--gap);

}

.footer {
    position: relative;
    background: #008b4a15;
    justify-content: center;
    font-style: italic;
    font-size: 17px;
    padding: 8vh 0;
    margin-top: auto
}.arr{
    font-size: 12px;
    color: #eee;
}.info{
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    background: #222;
    padding: 10px;
    border-radius: 10px;
}.ff{
    font-family: 'horizon';
    font-style: normal;
    margin-top: 13px;
    font-size: 8.7px;
}
#vcc{
    position: absolute;
    bottom: 0;
    background: #00e25798;
    display: flex;
    justify-content: center;text-transform: uppercase;
    font-family: "horizon";
    font-style: normal;
    font-size: 20px;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 30px;
}
a{
    text-decoration: dashed;
    color: #fff;
    margin: 0 8px;
    outline: none;
    border-bottom: 1px dashed white;
    font-weight: 800;
    font-style: normal;
    transition: 0.1s ease-in;
}
a:hover{
    transform: scale(110%);
    text-transform: uppercase;
    font-style: italic;
}
.form {
    height: auto;
    background: #111;
    position: relative;
    top: 10vh;
    left: 50%;
    width: 80%;
    max-width: 370px;
    display: flex;
    padding: 40px;
    align-items: center;
    transform: translate(-50%, 0%);
    gap: 10px;
    border-radius: 12px;
    border: 2px solid #333;
    --input-focus: #00ed7e;
    --font-color: #fefefe;
    --font-color-sub: #7e7e7e;
    --bg-color: #222;
    --main-color: #333;
    padding: 20px;
    background: var(--bg-color);
    border-radius: 5px;
    border: 1px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 50px, rgba(0, 0, 0, 0.516) 0px 15px 20px;
}

.input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
    margin-top: 10px;
}
.inp1{
    width: 100%;
    border-radius: 20px;
    padding-left: 10px;
}

.input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

.input:focus {
    border: 2px solid var(--input-focus);
    outline: none;
}

:focus {
    outline: 0;
    border-color: #fff;
    box-shadow: 0 0 0 4px #ffffff;
}

.mydict div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: space-between;
}

.mydict input[type="radio"],
input[type="checkbox"]  {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.mydict input[type="radio"]:checked+span,
input[type="checkbox"]:checked+span {
    box-shadow: 0 0 0 0.0625em #00ed7e;
    background-color: #00ed7e;
    z-index: 1;
    color: #fff;
}
label{
    flex: 1; /* Ensures labels take up equal width */
    display: flex;
    justify-content: center;
}
label span {
    display: block;
    cursor: pointer;
    background-color: #444;
    padding: 8px;
    color: #aabdb4;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    transition: background-color .5s ease;
    width: 100%;
    box-sizing: border-box;
    border: .5px solid #666; /* Includes padding in width */
}
label:first-child span {
    border-radius: .375em 0 0 .375em;
}

label:last-child span {
    border-radius: 0 .375em .375em 0;
}

.button-container {
    position: relative;
    display: inline-block;
    top: 40px;
}

.custom-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    font-size: 16px;
    font-family: 'horizon',sans-serif;
    color: #222;
    background: #ffffff;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.custom-button:hover {
    transform: scale(1.05);
    color: white;
}

.custom-button:active {
    transform: scale(0.95);
    color: white;
}

.custom-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #107267, #3bf6ab, #5513ed);
    z-index: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.custom-button:hover::before {
    opacity: 1;
}

.button-content {
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.button-content span {
    transition: transform 0.5s ease;
}

.custom-button:hover .button-content span {
    transform: translateX(4px);
}

.button-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    transition: transform 0.5s ease;
}

.custom-button:hover .button-icon {
    transform: translateX(4px);
}.result-section {
    padding: 15px;
    width: 100%;
    max-width: 400px;
    top: 0;
    left: 50%;position:relative;
    transform: translateX(-50%);
}

.college-card {
    border: 1px solid #444;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #333;
    border-radius: 12px;
    color: rgba(212, 212, 212, 0.894);
    box-sizing: border-box;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
    background: radial-gradient(circle 300px at 0% 0%, #151515, #282828);box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 50px, rgba(0, 0, 0, 0.516) 0px 15px 20px;
}
.college-card:hover{
    border: 1px solid #555;
    outline-offset: 3px;
    outline: 0.5px solid #555;
    background: #333333b3;
}
.college-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(22, 22, 22, 0.4));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}

.college-card:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}

.college-name{
    margin-top: 8px;
    font-family: "horizon",sans-serif;
    font-size: 16px;
    color: rgb(224, 219, 194);
    margin-left: 10px;

}
.details{
    margin-top: 3px;
    border-radius: 10px;
    padding: 10px;
    font-size: 11.5px;
    color:#c5c5c5dd;
}
.pagination{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
    padding: 20px;
}.prev,.next{
    color: #fff;
    background: transparent;
    border: 0;
    outline: 0;
    font-family: 'horizon',sans-serif;
    font-size: 80px;
    padding: 10px;
    border-radius: 50px;
}.page-input{
    width: 60px;
    background: #111;
    color: white;
    border: 0;
    outline: 0;
    padding: 15px;
}.button {
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: rgb(28, 28, 28);
    border: 2px solid rgb(190, 190, 190);
    background: rgb(193, 163, 98);
    border-radius: 30px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    padding-left: 8px;
    transition-duration: .5s;
    font-size: 11px;
  }
  .button:active {
    scale: 1;
  }
  
  .svgIcon {
    height: 25px;
    transition-duration: 1.5s;
  }
  
  .bell path {
    fill: rgb(19, 19, 19);
  }
  
  .button:hover {
    background-color: rgb(236, 236, 236);
    transition-duration: .5s;
    text-transform: none;
    font-size: 10px;
  }
  
  .button:active {
    transform: scale(0.97);
    transition-duration: .2s;
  }
  
  .button:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
  }
  
  .button1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(201, 201, 201, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    display: none;
  }
  
  .svgIcon1 {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon1 path {
    fill: white;
  }
  
  .button1:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgba(6, 175, 62, 0.241);;
    backdrop-filter: blur(20px);
    align-items: center;
  }
  
  .button1:hover .svgIcon1 {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .button1::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .button1:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
  